@import "tailwindcss";
@theme{
    --color-primary: #d4f0fc;
    --color-secondary: #01303f;
    --color-accent: #02a9f7;
}

.hide-scroll-track::-webkit-scrollbar {
    width:8px;
}
.hide-scroll-track::-webkit-scrollbar-track {
    background: transparent;
}
.hide-scroll-track::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}